<!-- addgoal.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Goal</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Link to external stylesheet -->
  </head>
  <body>
    <nav class="navbar">
      <h1>My Goals</h1>
      <div class="links">
        <a href="/">Home</a
        ><a class="new-item-link" href="/addgoal">New Goal</a>
      </div>
    </nav>

    <div class="content">
      <div class="create">
        <h2>Add a New Goal</h2>
        <form action="/addGoal" method="POST">
          <label>Title:</label
          ><input type="text" value="" id="title" name="title" required />

          <label for="description">Description:</label>
          <textarea
            value=""
            id="description"
            name="description"
            rows="4"
            required
          ></textarea
          ><br />

          <label for="targetDate">Target Date:</label>
          <input type="date" id="targetDate" name="targetDate" required /><br />

          <label>Author:</label>
          <select>
            <option value="sami">Sami</option>
            <option value="rami">Rami</option></select
          ><br />

          <label for="achieved">Achieved:</label>
          <input type="checkbox" id="achieved" name="achieved" /><br />

          <button type="submit">Add Goal</button>
        </form>
      </div>
    </div>
  </body>
</html>