<!-- addgoal.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Goal</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Link to external stylesheet -->
  </head>
  <body>
    <nav class="navbar">
      <h1>My Goals</h1>
      <div class="links">
        <a href="/">Home</a
        ><a class="new-item-link" href="/addgoal">New Goal</a>
      </div>
    </nav>

    <div class="content">
      <div class="not-found">
        <h2>Sorry</h2>
        <p>That page cannot be found</p>
        <a href="/">Back to the homepage...</a>
      </div>
    </div>
  </body>
</html>